@media screen and (max-width: 480px) {
    body {
        width: 50%;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: #FFF6DF;
    background: #2C6028;
    background: -webkit-linear-gradient(#4CA247, #2C6028);
    background: -moz-linear-gradient(#4CA247, #2C6028);
    background: linear-gradient(#4CA247, #2C6028);
}

.container,
.grid {
    margin: 0 auto;
    width: 60vw;
}

img {
    height: 40vw;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

.centraliza {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header h1 {
    font-family: 'Libre Baskerville', serif;
}

body h2 {
    font-family: 'Noto Sans JP', sans-serif;
}

body h3 {
    font-family: 'Muli', sans-serif;
}

h3, p {
    margin-bottom: 22px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #4CA247;
}

body {
    margin: 0;
    /*color: #2C6028;*/
    background-color: #FFF6DF;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}

footer {
    text-align: center;
    padding-top: 44px;
}

section {
    display: inline-block;
    margin: 0 1.5%;
    width: 30%;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}
